@import "compass";


$darkgrey : #363C43;
$grey : #eaedf1;
$lightgrey : #F7F7F7;
$red : rgb(221, 67, 67);
$horizontal-span : #F2F2F2;

/* base */
@import "base/base";
@import "base/normalize";

/* layout */
@import "layout/grid";
@import "layout/section";

/* modules */
@import "modules/header";
@import "modules/userbar";
@import "modules/footer";
@import "modules/connexion";
@import "modules/magasinFiche";
@import "modules/items-list";
@import "modules/user_fiche";
@import "modules/carroussel";
@import "modules/productCategories";
@import "modules/categorieProducts";
@import "modules/starRating";
@import "modules/search";
@import "modules/button";
@import "modules/searchSelector";
