/* line 1, ../../scss/modules/friendList.scss */
.myfriend {
  margin: 1% 0;
  text-align: center; }
  /* line 5, ../../scss/modules/friendList.scss */
  .myfriend:hover .rm {
    visibility: visible; }
  /* line 7, ../../scss/modules/friendList.scss */
  .myfriend .rm {
    position: absolute;
    right: 0;
    top: -5%;
    width: 25%;
    z-index: 100;
    visibility: hidden; }

/* line 17, ../../scss/modules/friendList.scss */
.friend-thumb {
  width: 150px;
  padding: 0;
  text-align: center;
  height: 150px;
  position: relative;
  overflow: hidden; }
  /* line 24, ../../scss/modules/friendList.scss */
  .friend-thumb img {
    z-index: 10; }
  /* line 28, ../../scss/modules/friendList.scss */
  .friend-thumb img.wide {
    max-height: 100%;
    height: 100%;
    left: 50%;
    position: absolute; }
  /* line 34, ../../scss/modules/friendList.scss */
  .friend-thumb img.tall {
    max-width: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    position: absolute; }
