/* line 2, ../../scss/modules/starRating.scss */
.rating-loading {
  width: 25px;
  height: 25px;
  font-size: 0px;
  color: #fff;
  background: transparent url("../img/loading.gif") top left no-repeat;
  border: none;
}

/*
 * Stars
 */
/* line 13, ../../scss/modules/starRating.scss */
.rating-fa {
  font-family: 'FontAwesome';
  padding-left: 1px;
}

/* line 18, ../../scss/modules/starRating.scss */
.rating-fa .rating-stars:before {
  padding-left: 1px;
}

/* line 22, ../../scss/modules/starRating.scss */
.rating-gly {
  font-family: 'Glyphicons Halflings';
}

/* line 26, ../../scss/modules/starRating.scss */
.rating-gly-star {
  font-family: 'Glyphicons Halflings';
  padding-left: 2px;
}

/* line 31, ../../scss/modules/starRating.scss */
.rating-gly-star .rating-stars:before {
  padding-left: 2px;
}

/* line 35, ../../scss/modules/starRating.scss */
.rating-lg .rating-gly-star, .rating-lg .rating-gly-star .rating-stars:before {
  padding-left: 4px;
}

/* line 39, ../../scss/modules/starRating.scss */
.rating-xl .rating-gly-star, .rating-xl .rating-gly-star .rating-stars:before {
  padding-left: 2px;
}

/* line 43, ../../scss/modules/starRating.scss */
.rating-active {
  cursor: default;
}

/* line 47, ../../scss/modules/starRating.scss */
.rating-disabled {
  cursor: not-allowed;
}

/* line 51, ../../scss/modules/starRating.scss */
.rating-uni {
  font-size: 1.2em;
  margin-top: -5px;
}

/* line 56, ../../scss/modules/starRating.scss */
.rating-container {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  color: #e3e3e3;
  overflow: hidden;
}

/* line 64, ../../scss/modules/starRating.scss */
.rating-container:before {
  content: attr(data-content);
}

/* line 68, ../../scss/modules/starRating.scss */
.rating-container .rating-stars {
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #fde16d;
  transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -webkit-transition: all 0.25s ease-out;
}

/* line 81, ../../scss/modules/starRating.scss */
.rating-container .rating-stars:before {
  content: attr(data-content);
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
}

/* line 86, ../../scss/modules/starRating.scss */
.rating-container-rtl {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
  color: #fde16d;
}

/* line 94, ../../scss/modules/starRating.scss */
.rating-container-rtl:before {
  content: attr(data-content);
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
}

/* line 99, ../../scss/modules/starRating.scss */
.rating-container-rtl .rating-stars {
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #e3e3e3;
  transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -webkit-transition: all 0.25s ease-out;
}

/* line 112, ../../scss/modules/starRating.scss */
.rating-container-rtl .rating-stars:before {
  content: attr(data-content);
}

/**
 * Rating sizes
 */
/* line 119, ../../scss/modules/starRating.scss */
.rating-xl {
  font-size: 4.89em;
}

/* line 123, ../../scss/modules/starRating.scss */
.rating-lg {
  font-size: 3.91em;
}

/* line 127, ../../scss/modules/starRating.scss */
.rating-md {
  font-size: 3.13em;
}

/* line 131, ../../scss/modules/starRating.scss */
.rating-sm {
  font-size: 2.5em;
}

/* line 135, ../../scss/modules/starRating.scss */
.rating-xs {
  font-size: 2em;
}

/**
 * Clear rating button
 */
/* line 142, ../../scss/modules/starRating.scss */
.star-rating .clear-rating, .star-rating-rtl .clear-rating {
  color: #aaa;
  cursor: not-allowed;
  display: inline-block;
  vertical-align: middle;
  font-size: 60%;
}

/* line 150, ../../scss/modules/starRating.scss */
.clear-rating-active {
  cursor: pointer !important;
}

/* line 154, ../../scss/modules/starRating.scss */
.clear-rating-active:hover {
  color: #843534;
}

/* line 158, ../../scss/modules/starRating.scss */
.star-rating .clear-rating {
  padding-right: 5px;
}

/**
 * Caption
 */
/* line 165, ../../scss/modules/starRating.scss */
.star-rating .caption, .star-rating-rtl .caption {
  color: #999;
  display: inline-block;
  vertical-align: middle;
  font-size: 55%;
}

/* line 172, ../../scss/modules/starRating.scss */
.star-rating .caption {
  padding-left: 5px;
}

/* line 176, ../../scss/modules/starRating.scss */
.star-rating-rtl .caption {
  padding-right: 5px;
}
