.products-list   .items-list{
      margin-bottom: 20px;
      height: 150px;

      .item-box{
        height: 100%;
        min-height: 100px;
        padding: 0 10px;
        border-right: 2px solid #D0D2D5;
        &:last-child{
          border: none;
        }
      }

      .item-price{
        display: block;
        width: 150%;
        height: 30px;
        line-height: 30px;
        border: 1px solid $darkgrey;
        background-color: $red;
        color:white;
        font-size: 20px;
        text-align: center;
        padding-left:100px;
        margin-left: -50%;
      }
    }