.clear{clear:both;}/* clear float */

.formwrap{
  width: 50%;
  margin: 0 auto;
}
/*start-login-form*/
.login-form .contact_form {
  width: 55%;
  background: url("../images/border.png") no-repeat 425px 77px;
  float: left;
  position: relative;
}
.login-form {
  background:#fff;
  padding: 6%;
  margin: 5%;
  position: relative;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -o-border-radius: 12px;
  @include box-shadow(-1px 0px 26px -7px rgba(0, 0, 0, 0.3) inset);
}
.login-form h1{
//  // font-size: 1.7em;
  color:#474646;
}
.login-form .contact_form ul {
    list-style-type:none;
  list-style-position:outside;
  margin:0px;
  padding:0px;
}
.login-form .contact_form li{
  position:relative;
} 
  /* form element visual styles */
.login-form   .contact_form li{ 
    float: left;
    outline: none;
    border: 1px solid #DDDDDD;
    // font-size: 1.2em;
    color: #B6B6B6;
    width: 78.5%;
    font-weight: 600;
    margin-top: 8%;
    position: relative;
    height: 42px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
  }
.login-form   .contact_form li:hover{ 
    border: 1px solid #79B42B;
    color:#79B42B;
  }
.login-form   .contact_form input {
    float: left;
    // font-size: 1.1em;
 //   font-family: 'Rokkitt', serif;
    padding: 7px 14px;
    width: 75%;
    border: none;
    outline: none;
    color:#B6B6B6;
  }
.login-form   .contact_form p {
    float: right;
    padding: 8px 7px;
    width: 9.3%;
    cursor: pointer;
  }
.login-form   .contact_form input[type="submit"] {
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    background: #79B42B;
    width: 79%;
    padding: 12px;
    // font-size: 1.3em;
    letter-spacing:1px;
    margin: 28px 0 30px;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
  } 
.login-form .contact_form input[type="submit"]:hover {
  background:#88C470;
} 
.login-form .contact_form input[type="checkbox"] {
  width: 21px;
  vertical-align: middle;
  padding: 5px;
  float:left;
}
.login-form .contact_form i{
  // font-size: 1.2em;
  color:#B6B6B6;
  width: 40%;
  float: left;
}
.login-form .forgot{
  float: right;
  margin-right: 77px;
  width: 35%;
  margin-top: 4px;
}
.login-form .forgot a{
  color:#B6B6B6;
  // font-size: 1.1em;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
}
.login-form .forgot a:hover{
  color:#79B42B;
}
/* === Form hints === */
.login-form .form_hint {
  color: #fff;
  text-align: center;
  background:#79B42B;
  border-radius: 3px 3px 3px 3px;
  // font-size:1.2em;
  margin-left: 8px;
  padding: 6px 23px;
  z-index: 999;
  position: absolute;
  right:-224px;
  bottom: 3px;
  font-weight:100;
  display: none;
}
.login-form .form_hint::before {
  content: '';
  position: absolute;
  bottom: 9px;
  left: -9px;
  width: 0;
  height: 0;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #79B42B;
  border-top: 10px solid transparent;
}
.login-form .contact_form input:focus + .form_hint {display: inline;}
.login-form .contact_form input:required:valid + .form_hint {color: #000;
  background: #79B42B;}
.login-form .contact_form input:required:valid + .form_hint::before {color:#28921f;}
/*end-login-form*/
/*start-account*/
.login-form .account{
  float:right;
  width: 45%;
}
.login-form .account h2 a{
  color:#71B8E4;
  display: block;
  // font-size: 1.3em;
  font-weight: 400;
  text-align:right;
  margin-top: 3px;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
}
.login-form .account h2 a:hover{
  color:#79B42B;
}
.login-form .span {
  margin-top: 10.4%;
  display: block;
  width: 100%;
  background: #3B5998;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
}
.login-form .span img {
  background:#354F88;
  padding: 7px;
  float: left;
}
.login-form .span i {
  color: #fff;
  padding: 9px 14px;
  float: left;
  // font-size: 1.6em;
  font-weight: 400;
}
.login-form .span:hover {
  background:#354F88;
}
.login-form .span1 {
  margin-top: 9%;
  width: 100%;
  background: #45B0E3;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
}
.login-form .span1 img {
  background: #40A2D1;
  padding: 7px;
  float: left;
}
.login-form .span1 i {
  color: #fff;
  padding: 9px 20px;
  float: left;
  // font-size: 1.6em;
  font-weight: 400;
}
.login-form .span1:hover {
  background:#40A2D1;
}
.login-form .span2 {
  margin-top: 9%;
  width: 100%;
  background: #DE4C34;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
}
.login-form .span2 img {
  background: #CE3E26;
  padding: 7px;
  float: left;
}
.login-form .span2 i {
  color: #fff;
  padding: 9px 17px;
  float: left;
  // font-size: 1.6em;
  font-weight: 400;
}
.login-form .span2:hover {
  background: #CE3E26;
}
/*end-account*/
/*start-footer*/
.login-form .footer p{
  color:#fff;
  display: block;
  // font-size: 1.3em;
  font-weight: 400;
  text-align:center;
  padding: 2em 0 1em;
}
.login-form .footer p a{
  color:#68B74A;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
}
.login-form .footer p a:hover{
  color:#fff;
}
/*end-footer*/
/*start-checkbox*/
.login-form .checkbox {
  margin-bottom: 4px;
  padding-left: 27px;
  // font-size: 1.1em;
  line-height: 27px;
  color: #B6B6B6;
  cursor: pointer;
}
.login-form .login-form  .checkbox:last-child {
  margin-bottom: 0;
}
.login-form .checkbox input {
  position: absolute;
  left: -9999px;
}

.login-form .checkbox i {
  position: absolute;
  bottom: 9px;
  left: 0;
  display: block;
  width: 13px;
  height: 13px;
  outline: none;
  border: 2px solid #DDDDDD;
  background: #DDDDDD;
}
.login-form .checkbox input + i:after {
  position: absolute;
  opacity: 0;
  transition: opacity 0.1s;
  -o-transition: opacity 0.1s;
  -ms-transition: opacity 0.1s;
  -moz-transition: opacity 0.1s;
  -webkit-transition: opacity 0.1s;
}
.login-form .checkbox input + i:after {
  content: '';
  background: url("../images/mark.png") no-repeat 3px 2px;
  top: -1px;
  left: -1px;
  width: 15px;
  height: 15px;
 // font: normal 12px/16px FontAwesome;
  text-align: center;
}

.login-form .checkbox input:checked + i:after {
  opacity: 1;
}
.login-form .checkbox {
  float: left;
  margin-right: 30px;
}
.login-form .checkbox:last-child {
  margin-bottom: 4px;
}
/*end-checkbox*/