.footer{
//	display: table-cell; 
	width: 100%;
	background: $darkgrey;
	color: white;
	z-index: 1000;
/* stiky footer */	
/* 	position: relative;
    clear:both;
    margin-top: -150px;
    height: 150px;
 */}

.footer-column{
//	text-align: center;
  	vertical-align: top;
	margin-top:20px;
	width: 22%;
	display: inline-block; 
}

.footer-column ul{
//	width: 80%;
	list-style-type: none;
//	text-align: center;
	margin: 0 ;
}

.column-container{
	padding: 20px;
}