.products-list{
	padding: 2%;
//		background-color: red;
	div{overflow: hidden;}
	dt{font-size: 1.2em;}
	.product-row{
		padding: 1% 0;
		height: 150px;
//		background-color: aliceblue;
		border-bottom: 1px solid lightgray;


	}

	.product-img{
		height: 100%;
//		background-color: violet;
		text-align: center;
		img{
			display: inline-block;
			vertical-align: middle;
			margin: auto;
			max-width: 90%;
			max-height: 100%;
		}
	}
	
	.product-price{
		span{
			display: block;
			margin: 25%;
		}
	}

	.product-remove{
		height: 100%;
		@include background(image-url("http://fr.fordesigner.com/imguploads/Image/cjbc/zcool/png20080526/1211771352.png") no-repeat  50% 50%/30%, none);		
		&:hover{
			@include background(image-url("http://fr.fordesigner.com/imguploads/Image/cjbc/zcool/png20080526/1211771352.png") no-repeat  50% 50%/40%, none);		
		}
	}
}