/* Product Search Result Page*/

.search-tab{
	background-color: $grey;
}

.search-nav{
	padding: 0 20px;
}

.search-res{
	background-color: white;
	padding: 20px;
}

/* Search Result Product thumbnail*/

.search-res-product{
	img{
		//margin: 0 auto;
		width: auto;
		height: auto;
		max-height: 150px;
		max-width: 95%;
	}

	.product-price{
//		margin-top: -5%;
		width: 100%;
		padding: 1%;
		display: block;
		z-index: 10;

		text-align: center;

		background-color: $red;
		color: white;
	}

	.product-info{
		padding: 3%;
		text-align: center;
	}

	.product-rate{
		font-size: 0.7em;
		pointer-events: none;
    	cursor: default;
	}

	.product-interact{
		height: 30px;
		min-width: 100%;

		img{
			height:20px;
			margin: 0 10px;
			width: auto;
		}
	}

	border: 1px solid $grey;
	height: 320px;
	overflow: hidden;
	margin-bottom: 10%;
	float: left;

}


.search-res-product-thumbnail{
	height: 150px;
	width: 100%;
	text-align: center;
}


/* Search Result NAVIGATION BAR */



