.sSelector{

	background-color: $lightgrey;

	img{
		width: 50px;
	}


	.sbutton {
		margin: 0 5%;
		@include box-shadow(inset 0px 1px 0px 0px #d9fbbe);
		@include background(15px 50%, linear-gradient(to bottom, #ed6363 5%, $red 100%));
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed6363', endColorstr='$red',GradientType=0);
		background-color:#ed6363;
		@include border-radius(100%);
		border:1px solid #ed7979;
		display:inline-block;
		cursor:pointer;
		color:#ffffff;
		font-family:Arial;
		font-size:15px;
		font-weight:bold;
		padding:4%;
		text-decoration:none;
		text-shadow:0px 1px 0px #e83c3c;
		&:hover{
			color:white;
			@include background( 15px 50%, linear-gradient(top, $red 5%, #ed6363 100%));
			background-color:$red;
		}
		&:active {
			position:relative;
			top:1px;
		}
	}
}