.submit-form{

	input[type="submit"]{
		margin: 5% auto;
		width: 50%;
		display: block;
		background-color: $red;
		@include border-radius(5px);
		border: none;
		padding: 1%;
		color: white;
		&:hover{
			background-color: $lightred;
		}
	}


	.form-group{
		margin-bottom: 3%;
	}
}