.l-user-fiche {
  
  line-height: 1.5em;
  padding: 20px;

  .title {
    padding: 20px 20px;
    margin-bottom: 30px;
    background-color: $red;
    color: white;
  }

  .subtitle {
    border-bottom: 1px solid black;
  }

  .line {
    margin-bottom: 30px;
  }

  .form {
    .input {
      height: 60px;
    }

    .labels {
      text-align: center;
    }

  }

  .friends {
    .friend {
      .avatar {
        width: 90%;
      }

      .username {
        text-align: center;
      }
    }
  }
}
